<header>
  <h1>{{title}}</h1>
  <p>Welcome to {{user}}</p>
  <p><small><a href="/logout">ログアウトする</a></small></p>
</header>
<main class="content">
  <p>コンテンツ</p>
</main>
<footer>
  <small>&copy; 2015 <a href="http://twitter.com/p1ch_jp/" target="_brank">@p1ch_jp</a></small>
</footer>