<header>
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <p><a href="/callback">Twitterでログインする</a></p>
</header>
<main class="content">
  <section>
    <h2>シンプル</h2>
    <p>POOKIEはシンプルなブックマークサービスです。</p>
  </section>
  <section>
    <h2>タグは1個</h2>
    <p>タグは1個しか付けることができません。<br>これによってタグ管理に疲れることを防ぎます。</p>
  </section>
  <section>
    <h2>Chromeから</h2>
    <p>Chromeからブクマできるように、拡張機能を用意しました。<br>是非、ご利用ください。</p>
  </section>
</main>
<footer>
  <small>&copy; 2015 <a href="http://twitter.com/p1ch_jp/" target="_brank">@p1ch_jp</a></small>
</footer>