body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background #faf9f4 
  
.header
  width 520px
  margin 0 auto
  background-color #fff

.content
  width 520px
  margin 0 auto
  background-color #fff 
  
.footer
  text-align center

a
  color: #00B7FF